<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="panel panel-default soft-phone">
        <form action="./">
          <div class="form-group">
            <div class="row">
              <div class="col-12">
                <input type="tel" class="form-control input-lg" id="displayPhone1" placeholder="" disabled>
              </div>
              <div class="col-12">
                <input type="tel" class="form-control input-lg" id="displayPhone2" placeholder="" disabled>
              </div>
              <div class="col-12">
                <input type="tel" class="form-control input-lg" id="txtPhone" placeholder="Ingrese el Número telefónico">
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col">
            <button class="btn btn-danger btn-block btn-lg">Borrar</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary btn-lg btn-number" >1<span>abc</span></button>
          </div>
          <div class="col">
            <button class="btn btn-primary btn-lg btn-number">2<span>def</span></button>
          </div>
          <div class="col">
            <button class="btn btn-primary btn-lg btn-number">3<span>ghi</span></button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary btn-lg btn-number">4<span>jkl</span></button>
          </div>
          <div class="col">
            <button class="btn btn-primary btn-lg btn-number">5<span>mno</span></button>
          </div>
          <div class="col">
            <button class="btn btn-primary btn-lg btn-number">6<span>pqr</span></button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary btn-lg btn-number">7<span>stu</span></button>
          </div>
          <div class="col">
            <button class="btn btn-primary btn-lg btn-number">8<span>vwx</span></button>
          </div>
          <div class="col">
            <button class="btn btn-primary btn-lg btn-number">9<span>yz</span></button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary btn-lg btn-number">*</button>
          </div>
          <div class="col">
            <button class="btn btn-primary btn-lg btn-number">0</button>
          </div>
          <div class="col">
            <button class="btn btn-primary btn-lg btn-number">#</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="btn-group btn-group-justified btn-block">
              <a class="btn btn-danger btn-lg"><i class="glyphicon glyphicon-phone-alt"></i> Colgar</a>
              <a class="btn btn-success btn-lg"><i class="glyphicon glyphicon-earphone"></i> Llamar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
